.idea/workspace.xml
.idea/vcs.xml
.idea/python.iml
.idea/modules.xml
.idea/misc.xml

venv/
.DS_Store
.vscode/settings.json
.vscode/launch.json
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
