/* Estilos generales */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
}

/* Estilos cabecera */
header {
    width: auto;
    height: 140px;
    background-color: #23282b;
    margin: 0px auto;
}

#logotipo {
    width: 55%;
    height: 130px;
    margin: 0 auto;
    padding-top: 10px;
}

#logotipo img {
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}

#logotipo h1{
    display: block;
    margin-top: 35px;
    margin-left: 20px;
    letter-spacing: 2px;
    float: left;
    font-weight: 100;
    color: #2ba977;
}





/* Estilos footer */
footer {
    text-align: center;
}