<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock %}
        | Carlos Oliva
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>

    <!--Cabecera de la página-->
    <header>
        <div id="logotipo">
            <!--Logo Django-->
            <h1>Sitio web con Django | Carlos Oliva </h1>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/hola-mundo">Hola Mundo</a></li>
            <li><a href="/pagina-pruebas">Página pruebas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <hr />
    
    <div id="content">
        <h2 class="title">Título de prueba</h2>
        {% block content %}
            <!--Código que viene de templates-->
            <strong>Contenido del bloque original!!!</strong>
        {% endblock %}
    </div>

    <footer>
        Master en Python &copy; {% now "Y" %} | Carlos Oliva Domínguez
    </footer>
</body>
</html>